__pycache__/
lombardgrid*/
GRID_Audio-Visual_Speech_Corpus*/
grid_audio_visual_speech_corpus*/
output*/
test*/
runs/
*.pth
*.onnx
*.tar.gz
*.mov
*.mp4
*.mpg
*.engine
*.profile
*.png
!test.png
*.jpg
*.task